nav {
  font-family: Merriweather, "Times New Roman", Times, serif;\
  /*border-top: 7px solid #042c6d !important;*/
}

body {
  font-family: Merriweather, "Times New Roman", Times, serif !important;
  overflow-x: hidden;
}

.headImage { width: 100%; margin-top: 50px; }

.slidePic { width: 100%; }

#navbarRight { float: right; }
/* Collapsing Navbar Styles */
@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    /* Add additional styles here for the COLLAPSED state */
  }
}

/* Nav bar animation effects */
.navbar-toggle { border-color: transparent !important; background: transparent !important; }
.navbar-toggle:hover { background: transparent !important; }
.navbar-toggle .icon-bar { width: 22px; transition: all 0.2s; }
.navbar-toggle .top-bar { transform: rotate(45deg); transform-origin: 10% 10%; }
.navbar-toggle .middle-bar { opacity: 0; }
.navbar-toggle .bottom-bar { transform: rotate(-45deg); transform-origin: 10% 90%; }
.navbar-toggle.collapsed .top-bar { transform: rotate(0); }
.navbar-toggle.collapsed .middle-bar { opacity: 1; }
.navbar-toggle.collapsed .bottom-bar { transform: rotate(0); }

/* Keep Logo to the left*/
.navbar-left { float: left !important; }

/* Increase font-size of links */
.navLinkFont { font-size: 1.5em; margin-top: 13px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;}
.navLinkFont:hover { color: #BE0004 !important;}

/* Logo Formating */
#logo { width: 95px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; }
#logoText { list-style-type: none; margin: 0; padding: 0; }
.logoFontBlue { color: #042c6d; font-size: 2em; display: inline; }
.logoFontBlue:hover { text-decoration:none; cursor: pointer;}
.logoFontRed { display: inline; color: #BE0004; font-size: 2em; }
.logoFontRed:hover { text-decoration:none; cursor: pointer;}
#logoSubtitle { color: #042c6d; margin-bottom: -3px; }
#listAlignment { display: inline !important;}

/* Slideshow picture height */
.item { height: 700px; }

#myCarousel { overflow: hidden;}

/* Welcome Page Font */
#welcomeHeader { color: #042c6d; }

.desciption { font-size: 1.5em; }
.bodyText { font-size: 1.2em; }
ul.codeOfConduct { list-style-type:disc; }
ul.yachtRoutine { list-style-type: none; }

/* Double Lines */
.subtitle { margin: 0 0 2em 0; overflow: hidden; padding-top: 8px; padding-bottom: 8px; }
.subpageSubtitle { margin-top: -30px; margin-bottom: 30px; font-style: italic;}
.fancy { line-height: 0.5; text-align: center; }
.fancy span { display: inline-block; position: relative; }
.fancy span:before,
.fancy span:after { content: ""; position: absolute; height: 5px; border-bottom: 1px solid #BE0004;
  border-top: 1px solid #BE0004; top: 7px; width: 600px; }
.fancy span:before { right: 100%; margin-right: 15px; }
.fancy span:after { left: 100%; margin-left: 15px; }

.bold { font-weight: bold; }
.largest { font-size: 1.5em;}
.middleLarge { font-size: 1.4em; }
.larger { font-size: 1.25em; }
.lessLarge { font-size: 1.1em; }

.italic { font-style: italic; }
.inline { display: inline; }

.shadowPicture {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Picture of club being moved*/
div.polaroid { width: 100%; background-color: white; margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
div.captionContainer { text-align: center; padding: 10px 20px; }
.specialPolaroid { width: 100%; margin-bottom: -45px !important;}

#gridMargin{ margin-bottom: -5px; margin-right: -15px; margin-left: -15px; }

#footer { background: #ecf0f1; color: #042c6d; padding-top: 30px; padding-bottom: 55px; position: relative; overflow: hidden; }
#iconMargin { margin-top: 0px; text-align: center; }
