nav {
  font-size: 1.5em;
  padding: 2px;
}

body {
  font-family: Raleway,sans-serif;
}

li {list-style-type: none;}

.parallaxTitle {
    min-height: 750px;
    background: transparent;
}

#parallaxDisco {
  min-height: 450px;
  background: transparent;
  z-index: 10000000;

}

#paraContain {
  display: flex;
  align-items: center;
}

#titleContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: #bdc3c7;
  background: rgba(0,0,0,.5);
  /*border-radius: 8px;*/
  padding: 19px 48px;
  margin-bottom: 50px;
  font-size: 1.3em;
  margin-left: -17px;
  margin-right: -17px;
  /*border: 5px solid lightcoral;*/
}

#header{
  color: #ecf0f1;
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 380;
  font-size: 2.7em;
}

.white {
  color: #ecf0f1;
}

#resizeMe {
  max-width:77%;
  max-height:77%;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#aboutMe {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #3498db;
    position: relative;
}

#contactMe {
  padding-top: 30px;
  padding-bottom: 75px;
  background: #3498db;
  position: relative;
}

#centerHeader {
  font-size: 3em;
  margin-bottom: 30px;
}

#lowerWidth {
  max-width: 70%;
}

#aboutMeText {
  font-size: 1.7em;
}

#iconContainer {
  display: flex;
  justify-content: flex-start;
}

.icon {
  padding-right: 15px;
  cursor: pointer;
  margin-top: 40px;
}

.icon:hover {
  color: #bdc3c7;
}

.iconLink {
  color: rgba(51,51,51,1);
}

.iconLink:hover {
  color: #bdc3c7;
}

#iconMatch {
  color: rgba(51,51,51,1);
  font-size: 1.7em;
  text-decoration: none;
  padding: 5px;
  font-weight: 580;

  box-shadow: inset 0 0 0 3px rgba(51,51,51,1);
  border-color: #333333;
  border-radius: 6px;
  padding: 10px;
}

#iconMatch:hover {
  color: #bdc3c7;
  box-shadow: inset 0 0 0 3px rgba(190,195,199,1);
}

#resume {
  margin-right: 15px;
  margin-top: 51px;
  background: transparent;
}

#asbestos {
  color: #7f8c8d;
  transition: color .5s ease 0s;
}

#asbestos:hover {
  color:#3498db
}

#asbestos.white {
  color: #bdc3c7;
}

#opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 1px;
    transition: background-color .5s ease 0s;
}

#opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}
.menu {
  visibility: hidden;
}

@media only screen and (max-width: 766px) {
  #opaque-navbar {
    background-color: black !important;
    height: 60px;
    transition: background-color .5s ease 0s;
  }

  .menu {
    visibility: visible;
  }
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  /*padding:5px 15px 0px 15px;*/
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000 !important;
}

/*Unfolding Drawer*/
.menu{z-index:1000000; margin-left: -17px; margin-right: 17px; margin-top: 8px; font-weight:bold; font-size:0.6em !important; background:#131313; position:absolute; width: 100%; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

p.nav-active {
  color: white !important;
}

.lesssWhite {
  color: #7f8c8d;
}

#leaveSpace {
  margin-top: 60px;
  max-height:77%;
  width: 100%;
}


#contact{ padding:10px 0 10px; }

.contact-text{ margin:45px auto; }

.mail-message-area{ width:100%; padding:0 15px; }

.mail-message{ width: 100%; background:rgba(255,255,255, 0.8) !important; -webkit-transition: all 0.7s; -moz-transition: all 0.7s; transition: all 0.7s; margin:0 auto; border-radius: 0; }

.not-visible-message{
  height:0px;
  opacity: 0;
}

.visible-message{
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form{ width: 100%; padding: 15px; background:#2980b9; border:1px solid rgba(0, 0, 0, 0.075); margin-bottom:25px; color:#2F3536 !important; font-size:13px; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }

.form:hover{ border:1px solid #3498db; }

.form:focus{
  color: white;
  outline: none;
  border:1px solid #2F3536;
}

.textarea{
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

.button{ padding:8px 12px; background:#0A5175; display: block; width:120px; margin:10px 0 0px 0; border-radius:3px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; text-align:center; font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
  background:#8BC3A3;
  color:white;
}

/* Send Button Styles */
.form-btn{ width:180px; display: block; height: auto; padding:15px; color:#fff; background:#2F3536; border:none; border-radius:3px; outline: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
  background:#bdc3c7;
  color: #2F3536;
  border:none;
}

.form-btn:active{
  opacity: 0.9;
}

input {
   position: relative;
   z-index: 9;
}

/*placeholder text color*/
::-webkit-input-placeholder {color: #2F3536;}
:-ms-input-placeholder {color: #2F3536;}
::-moz-placeholder {color: #2F3536; opacity: 1;}
:-moz-placeholder {color: #2F3536; opacity: 1;}

.photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
}

.summer {
  background-image: url(https://authoritynutrition.com/wp-content/uploads/2013/01/fruits.jpg);
}
