nav {
  font-size: 1.5em;
  padding: 2px;
}

body {
  font-family: Raleway,sans-serif;
}

li {list-style-type: none;}

.parallaxTitle {
    min-height: 750px;
    background: transparent;
}

#parallaxDisco {
  min-height: 450px;
  background: transparent;

}

#paraContain {
  display: flex;
  align-items: center;
}

#titleContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: #bdc3c7;
  background: rgba(0,0,0,.5);
  /*border-radius: 8px;*/
  padding: 19px 48px;
  margin-bottom: 50px;
  font-size: 1.3em;
  /*border: 5px solid lightcoral;*/
}

#header{
  color: #ecf0f1;
  font-family: Roboto Condensed, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 380;
  font-size: 2.7em;
}

.white {
  color: #ecf0f1;
}

#resizeMe {
  max-width:77%;
  max-height:77%;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#aboutMe {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #3498db;
    position: relative;
}

#aboutMeText {
  font-size: 1.7em;
}

#discoInfernoLabel {
  margin-left: 14px;
}

#iconContainer {
  display: flex;
  justify-content: flex-start;
}

.icon {
  padding-right: 15px;
  cursor: pointer;
  margin-top: 40px;
}

.icon:hover {
  color: #bdc3c7;
}

.iconLink {
  color: rgba(51,51,51,1);
}

.iconLink:hover {
  color: #bdc3c7;
}

#iconMatch {
  color: rgba(51,51,51,1);
  font-size: 1.7em;
  text-decoration: none;
  padding: 5px;
  font-weight: 580;

  box-shadow: inset 0 0 0 3px rgba(51,51,51,1);
  border-color: #333333;
  border-radius: 6px;
  padding: 10px;
}

#iconMatch:hover {
  color: #bdc3c7;
  box-shadow: inset 0 0 0 3px rgba(190,195,199,1);
}

#resume {
  margin-right: 15px;
  margin-top: 51px;
  background: transparent;
}

#asbestos {
  color: #7f8c8d;
  transition: color .5s ease 0s;
}

#asbestos:hover {
  color:#3498db
}

#asbestos.white {
  color: #bdc3c7;
}

#opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 1px;
    transition: background-color .5s ease 0s;
}

#opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media only screen and (max-width: 766px) {
  #opaque-navbar {
    background-color: black !important;
    height: 60px;
    transition: background-color .5s ease 0s;
  }

}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  /*padding:5px 15px 0px 15px;*/
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000 !important;
}

.cross{
  /*background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;*/
  color:#fff;
  /*border:0;*/
  /*font-size:3em;
  line-height:65px;
  font-weight:bold;*/
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; margin-left: -17px; margin-right: 17px; margin-top: 8px; font-weight:bold; font-size:0.6em !important; background:#131313; position:absolute; width: 100%; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}

p.nav-active {
  color: white !important;
  /*box-shadow: inset 0 0 0 3px rgba(51,51,51,1);
  border-color: #333333;
  border-radius: 6px;*/
}

.lesssWhite {
  color: #7f8c8d; !important;
}
